@import '../../fonts/ClashDisplay_Complete/Fonts/css/clash-display.css';

:root{
  --default-regular-font-familty: 'ClashDisplay-Bold';
  --base-font-family: var(--default-regular-font-familty), -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
}

body{
  font-family: var(--base-font-family);
}