.modalOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1.5px);
  text-align: center;
  z-index: 11;
  cursor: pointer;
  opacity: 0;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 12;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-node{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    grid-gap: 20px;
    width: 100%;
    img{
      width: 400px!important;
    }
  }
  &:has(.template-node){
    .content-wrapper{
      height: max-content;
      border: 1px dashed rgba(0,0,0,0.4);
    }
  }
  .template-node{
    display: flex;
    &.is-opened{
      display: grid;
      grid-template-areas:
            'gallery info'
            'gallery info'
            'gallery info'
            'gallery link'
    ;
      flex-direction: row;
      grid-gap: 20px;
    }

    width: 100%;
    .info{
      grid-area: info;
    }
    .react-image-gallery{
      grid-area: gallery;
      .image-gallery-image{
        height: 400px;
        width: 400px;
      }
    }
    .template-link{
      grid-area: link;
      margin-top: auto;
      height: max-content;
    }

  }
  .content{
    &-wrapper{
      width: fit-content;
      height: calc(400px + (2 * ( 40px)));
      display: flex;
      background: white;
      border-radius: 20px;
      padding: 40px;
      position: relative;
      .close-btn{
        height: 40px;
        width: 40px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg *{
          stroke: red;
        }
      }
    }
  }
}

