:root {
  --text-color: rgba(250, 250, 250, 0);
  --text-stroke-color: var(--color-ruba-red);
  --text-fill-color: var(--color-ruba-red);
}
.navigation{
  position: absolute;
  z-index: 9;
  //height: max-content;
  padding: 12px 24px;
  &__list{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    &-item{
      display: flex;
      width: auto;
      gap: 12px;
      .tags{
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 6px;
        font-size: 16px;
        line-height: 16px;
      }
    }
    &-logo{
      --cube-size:80px;
      --z-translate-100-px:calc(var(--cube-size) / 2);
      --scene-x-margin:0px;
      padding:24px;
    }
  }
}


/* Tablet and below - responsive padding for logo */
@media (max-width: 768px) {
  .navigation {
    &__list {
      &-logo {
           --cube-size: 70px;
           --scene-x-margin: 0px;
        //padding:12px;
      }
    }
  }
}