:root{
  --cube-size:150px;

  --z-translate-100-px:calc(var(--cube-size) / 2);

  --y-rotate-180-deg:180deg;
  --y-rotate-90-deg:90deg;
  --y-rotate-neg-90-deg:-90deg;

  --x-rotate-90-deg:90deg;
  --x-rotate-neg-90-deg:-90deg;

  --cube-left-background-color:var(--color-ruba-red-darker);
  --cube-right-background-color: var(--color-ruba-red-dark);
  --cube-top-background-color:var(--color-ruba-red);

  --scene-x-margin:100px;
}

/* Tablet and below */
@media (max-width: 768px) {
  :root {
    --cube-size: 100px;
    --scene-x-margin: 50px;
  }
}

/* Mobile phones */
@media (max-width: 480px) {
  :root {
    --cube-size: 80px;
    --scene-x-margin: 30px;
  }
}
.scene {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: 600px;
  margin: var(--scene-x-margin) auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.camera{
  transform: rotateX(-37.5deg) rotateY(45deg); /* This gives that above-angle look */
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.face {
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  background: var(--cube-right-background-color);
  transition: background-color 0.5s ease;
  color: white;
}

.front  {
  transform: translateZ(var(--z-translate-100-px));
}
.back   { transform: rotateY(var(--y-rotate-180-deg)) translateZ(var(--z-translate-100-px));}
.right  {
  transform: rotateY(var(--y-rotate-90-deg)) translateZ(var(--z-translate-100-px));
}
.left   {
  transform: rotateY(var(--y-rotate-neg-90-deg)) translateZ(var(--z-translate-100-px));
}
.top {
  background:var(--cube-top-background-color);
  transform: rotateX(var(--x-rotate-90-deg)) translateZ(var(--z-translate-100-px));}
.bottom { transform: rotateX(var(--x-rotate-neg-90-deg)) translateZ(var(--z-translate-100-px));}