:root{
  --card-width: 600px;
  --card-height: 400px;
  --header-font-size: 60px;
  --description-font-size: 25px;
  --card-padding: 16px;
  --card-content-padding: 12px;
  --card-gap: 6px;
  --card-border-radius: 16px;
  --cube-size: 120px;
  --tag-font-size: 24px;
  --template-link-padding: 10px;
  --template-link-width: auto;
  --card-5-border-width: 8px;
  --card-5-padding: 20px;
  --svg-size: 40px;
}

/* Tablets */
@media (max-width: 768px) {
  :root {
    --card-width: 500px;
    --card-height: 350px;
    --header-font-size: 48px;
    --description-font-size: 20px;
    --cube-size: 100px;
    --tag-font-size: 20px;
    --svg-size: 32px;
  }
}

/* Mobile phones */
@media (max-width: 480px) {
  :root {
    --card-width: 300px;
    --card-height: 400px;
    --header-font-size: 36px;
    --description-font-size: 16px;
    --card-padding: 12px;
    --card-content-padding: 8px;
    --card-gap: 8px;
    --card-border-radius: 12px;
    --cube-size: 80px;
    --tag-font-size: 18px;
    --template-link-padding: 8px;
    --template-link-width:110px;
    --card-5-border-width: 6px;
    --card-5-padding: 16px;
    --svg-size: 28px;
  }
}

.stacked-cards{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &-card{
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    margin:0 0 -40px -50px;
    &-item {
      position: absolute;
      width: var(--card-width);
      height: var(--card-height);
      border-radius: var(--card-border-radius);
      transform-origin: center center;
      list-style: none;
      background: white;
      //border: 1px dashed var(--color-ruba-red);
      &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: var(--card-padding);

        &-header{
          font-family: var(--pixel-font-familty);
          width: 100%;
          font-size: var(--header-font-size);
        }
        &-content{
          height: 100%;
          .card{
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--card-gap);
            align-items: center;
            padding: var(--card-content-padding);

            .description{
              font-size: var(--description-font-size);
            }
          }
        }
      }

    }
  }



  .card-1{
    --z-translate-100-px:calc(var(--cube-size) / 2);
    --scene-x-margin:0px;
  }
  .card-3{
    grid-template-columns: 1fr auto;
    .emoji{
      .text-updater-node{
        display: flex;
        justify-content: center;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;

        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }

  .card-2{
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    position: relative;

    .templates-container{
      position: relative;
      width: 100%;
      height: 100%;

      .template-link {
        background: white;
        border-radius: 12px;
        padding: var(--template-link-padding);
        border: 1px dashed var(--tag-color-blue);
        width: var(--template-link-width);

        .title{
          color: var(--tag-color-blue);
        }
        .description{
          overflow-x: hidden;
        }
      }
    }
  }
  .card-4{
    grid-template-columns: 1.5fr 1fr;
    .years-filter .navigation__list {
      .navigation__list-item .tags {
        font-size: var(--tag-font-size);
        line-height: var(--tag-font-size);
      }
      justify-content: center;
    }
  }
  .card-5{
    grid-template-columns: 1fr auto;
    .template-link{
      padding: var(--card-5-padding);
      border: var(--card-5-border-width) solid var(--tag-color-pink);

      &:hover{
        background: var(--tag-color-pink);
      }
    }

    svg, svg *{
      width: var(--svg-size);
      height: var(--svg-size);
      fill: var(--tag-color-pink);
      stroke: var(--tag-color-pink);
    }

  }
}