:root{
  --card-width:600px;
  --card-height:400px;
}

.stacked-cards{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &-card{
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    margin:0 0 -40px -50px;
    &-item {
      position: absolute;
      width: var(--card-width);
      height: var(--card-height);
      border-radius: 16px;
      transform-origin: center center;
      list-style: none;
      background: white;
      //border: 1px dashed var(--color-ruba-red);
      &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 16px;
        &-header{
          font-family: var(--pixel-font-familty);
          width: 100%;
          font-size: 60px;
        }
        &-content{
          height: 100%;
          .card{
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 6px;
            align-items: center;
            padding: 12px;
            .description{
              font-size: 25px;
            }
          }
        }
      }

    }
  }



  .card-1{
    --cube-size:120px;
    --z-translate-100-px:calc(var(--cube-size) / 2);
    --scene-x-margin:0px;
  }
  .card-3{
    grid-template-columns: 1fr auto;
    .emoji{
      .text-updater-node{
        display: flex;
        justify-content: center;
        transform: scale(1);
        transition: transform 0.3s ease-in-out; /* Animate font-size over 0.3s with ease-in-out timing */
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
  .card-2{
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    position: relative; /* Add this */


.templates-container{
  position: relative;
  width: 100%;
  height: 100%;
  .template-link {
    background: white;
    border-radius: 12px;
    padding: 10px;
    border: 1px dashed var(--tag-color-blue);
    .title{
      color: var(--tag-color-blue);
    }
  }
}
  }
  .card-4{
    grid-template-columns: 1.5fr 1fr;
    .years-filter .navigation__list {
      .navigation__list-item .tags {
        font-size: 24px;
        line-height: 24px;
      }
      justify-content: center;
    }
  }
  .card-5{
    grid-template-columns: 1fr auto;
    .template-link{
      padding: 20px;
      border: 8px solid var(--tag-color-pink);
      &:hover{
        background: var(--tag-color-pink);
      }
    }
    svg,svg *{
      width: 40px;
      height: 40px;
      fill: var(--tag-color-pink);
      stroke: var(--tag-color-pink);
    }

  }
}