.template-link{
  font-family: sans-serif;
  font-weight: 900;
  width:max-content ;
  background:white;
  border: 1px dashed rgba(0,0,0,0.4);
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid-template-areas:
          'link title title'
          'description description description';
  grid-gap: 4px;

  .emoji {
    grid-area: link;
    align-self: center;
  }

  .description {
    grid-area: description;
    color:rgba(0,0,0,0.4);
    font-size: 11px;
  }

  .title {
    grid-area: title;

  }

  &:hover{
    background:white;
    filter: brightness(90%);
    transition: all 0.1s ease-in;
  }
}