@use './page';

.about-me{
  @extend .page;
  display: flex;
  position: relative;
  padding: 60px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  //background-image: radial-gradient(#ff0000 0.5px, #ffffff 0.5px);
  //background-size: 10px 10px;
  .card {
    position: relative;
    width: 80%;
    height:60%;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-image {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    img{
      width: 70%;
      height: 100%;
    }
  }

  .card-text {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .emoji {
    position: absolute;
    font-size: 100px;
  }

  .emoji-top-left {
    top: -100px;
    left: -50px;
  }

  .emoji-bottom-left {
    bottom:-100px;
    left: 10%;
  }

  .emoji-right {
    right: -50px;
    top: 50%;
  }

  .emoji {
    animation: floatAnimation 2s infinite ease-in-out;
  }

}