@use './page';

.templates{
  @extend .page;
  display: flex;
  justify-content: center;
  align-items: center;
  &-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    div{
      width: 100%;
    }
  }


  &-go-to{
    padding: 12px 24px;
    position: absolute;
    z-index: 9;
    right: 0;
  }
}