@use './page';

.templates{
  @extend .page;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
  }

  &-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-title{

    }
    &-subtitle{
      position: absolute;
      bottom: 50px;

      font-family: var(--pixel-font-familty);
      font-size: 40px;
      margin-top: -60px;
      color: var(--color-ruba-red);
    }

  }

  &-go-to{
    padding: 12px 24px;
    position: absolute;
    z-index: 9;
    right: 0;
  }
}